body{
    background-color: white;
    z-index: -1;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*NAVBAR*/
.full-width{
    padding: 0;
}

.full-width nav{
    border-top: 3px solid #930303;
    height: 90px;
    background-color: #ffffff !important;
}

.logo-nav{
    position: fixed;
    top: 3px;
    left: 50%;
    width: 450px;
    margin-left: -230px;
    z-index: 9999;
}

.logo-nav-small{
    position: fixed;
    top: 16px;
    left: 50%;
    width: 175px;
    margin-left: -125px;
    z-index: 9999;
    -webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s  ease-in-out;
    transition: margin 0.2s  ease-in-out;
}

#navbarSupportedContent{
    background-color: white;
}

@media screen and (max-width: 990px ){
    .logo-nav{
        position: fixed;
        top: 10px;
        left: 85%;
        width: 225px;
        margin-left: -112px;
        z-index: 9999;
    }
}

nav li>a{
    font-size: 17px;
    color: #930303 !important;
}

nav li>a:hover{
    color: #f8b518 !important;
}   

/*CAROUSEL*/
.carousel-caption{
    max-width: 60%;
    float: left;
    margin-left: -150px;
}

.slide-title{
    font-size: 5rem ;
    font-weight: bold;
}

.slide-subtitle{
    font-size: 3rem ;
    font-weight: bold;
    color: #f8b518;
}

.carousel-indicators li.active{
    background-color: #f8b518;
}

#slider-carousel{
    margin-top: 85px;
}

li[data-target = "#slider-carousel"]{
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

/*INFORMAÇÃO*/
#informacoes .titulo>span,
#programacao .titulo>span,
#patrocinadores .titulo>span,
#localizacao .titulo>span{
    color: #930303;
    font-size: 3rem;
}

#informacoes .c-text{
    font-weight: bold;
}

#informacoes .jumbotron,
#cursos>div,
#programacao>div.text-center,
#localizacao>div{
    padding-top: 100px !important;
    margin-bottom: 0;
}

.conteudo-info{
    padding: 75px 15px;
}

/*CURSOS*/

#cursos{
    background-image: url('../images/bg_cursos.jpg');
    color: white;
}

#cursos .titulo>span{
    color: #f8b518;
    font-size: 3rem;
}

#cursos .c-text{
    font-weight: bold;
}

/*PROGRAMACAO*/
#programacao .sub-titulo, .titulo-lista{
    color: #f8b518;
}

#programacao .titulo-lista{
    font-size: 2rem ;
}

#programacao li{
    list-style: none;
    color: #930303;
    font-size: 1.05rem;
    clear: both;
}

#programacao li:before{
    content: '';
    display: inline;
    float: left;
    height: 35px;
    width: 35px;
    background-image: url('../images/raio.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/*INSCRIÇÕES*/

.headerDivider1 {
    border-left:1px solid #38546d;height:80px;position:absolute;right:250px;top:10px;
}

.headerDivider2 {
    border-left:1px solid #16222c;height:80px;position:absolute;right:249px;top:10px;
}

#inscricoes{
    background-image: url('../images/bg_inscricao.jpg');
    color: white;
}

#inscricoes .qrcode>img{
    width: 114px;
    height: 114px;
}
#inscricoes .qrcode{
    padding: 54px 25px;
    border-left: 2px solid white;
}

#inscricoes span.destaque{
    color: #f8b518;
    font-size: 3rem;
}

#inscricoes .btn-danger{
    padding: 10px 25px;
    margin-right: 15px;
    background-color: #930303;
    border: 0;
    border-radius: 20px;
}

/*PATROCINADORES*/
.jauzao{
    max-width: 90%;
    padding: 20% 0;
}

/*FOOTER*/
footer{
    background-color: #930303;
    color: white;
}

#patrocinadores>img{
    max-width: 150px;
}